name: Build Clang 9 for Android ARM64

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest  # Runner menggunakan Ubuntu 22.04
    #  container: ubuntu:18.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build gcc-aarch64-linux-gnu g++-aarch64-linux-gnu binutils-aarch64-linux-gnu xz-utils wget python3 build-essential git

      - name: Download LLVM 9 Source
        run: |
          wget https://releases.llvm.org/9.0.0/llvm-9.0.0.src.tar.xz
          wget https://releases.llvm.org/9.0.0/cfe-9.0.0.src.tar.xz
          tar -xf llvm-9.0.0.src.tar.xz
          tar -xf cfe-9.0.0.src.tar.xz
          mv cfe-9.0.0.src llvm-9.0.0.src/tools/clang

      - name: Build Host TableGen (x86_64)
        run: |
          # Kita bikin tblgen versi PC dulu buat pembantu
          mkdir build-host && cd build-host
          cmake -G Ninja ../llvm-9.0.0.src \
            -DCMAKE_BUILD_TYPE=Release \
            -DLLVM_TARGETS_TO_BUILD="X86"
          ninja llvm-tblgen clang-tblgen
          cd ..

      - name: Configure Cross-Compile (ARM64)
        run: |
          mkdir build && cd build
          cmake -G Ninja ../llvm-9.0.0.src \
            -DCMAKE_BUILD_TYPE=Release \
            -DLLVM_TARGETS_TO_BUILD="AArch64" \
            -DLLVM_DEFAULT_TARGET_TRIPLE=aarch64-linux-gnu \
            -DCMAKE_CROSSCOMPILING=True \
            -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc \
            -DCMAKE_CXX_COMPILER=aarch64-linux-gnu-g++ \
            -DLLVM_TABLEGEN=$(pwd)/../build-host/bin/llvm-tblgen \
            -DCLANG_TABLEGEN=$(pwd)/../build-host/bin/clang-tblgen \
            -DLLVM_ENABLE_BACKTRACES=OFF \
            -DLLVM_INCLUDE_TESTS=OFF \
            -DLLVM_INCLUDE_EXAMPLES=OFF \
            -DCMAKE_INSTALL_PREFIX=../clang9_arm64

      - name: Build and Install
        run: |
          cd build
          # -j2 biar RAM aman
          ninja -j2
          ninja install

      - name: Create Package
        run: |
          tar -czvf clang9-arm64-android.tar.gz clang9_arm64

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: clang9-for-android-arm64
          path: clang9-arm64-android.tar.gz
