name: Build Clang 9 for Android ARM64

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # Kita pakai Ubuntu 18.04 karena ini "habitat asli" LLVM 9
    container: ubuntu:18.04

    steps:
      - name: Install Native & Cross Dependencies
        run: |
          apt-get update
          apt-get install -y \
            cmake ninja-build xz-utils wget python3 build-essential git \
            gcc-aarch64-linux-gnu g++-aarch64-linux-gnu \
            binutils-aarch64-linux-gnu \
            llvm-9-tools  # Ini penting supaya gak Exec format error

      - name: Download LLVM 9 Source
        run: |
          wget https://releases.llvm.org/9.0.0/llvm-9.0.0.src.tar.xz
          wget https://releases.llvm.org/9.0.0/cfe-9.0.0.src.tar.xz
          tar -xf llvm-9.0.0.src.tar.xz
          tar -xf cfe-9.0.0.src.tar.xz
          mv cfe-9.0.0.src llvm-9.0.0.src/tools/clang

      - name: Configure CMake
        run: |
          mkdir build && cd build
          cmake -G Ninja ../llvm-9.0.0.src \
            -DCMAKE_BUILD_TYPE=Release \
            -DLLVM_TARGETS_TO_BUILD="AArch64" \
            -DLLVM_DEFAULT_TARGET_TRIPLE=aarch64-linux-gnu \
            -DCMAKE_CROSSCOMPILING=True \
            -DCMAKE_C_COMPILER=aarch64-linux-gnu-gcc \
            -DCMAKE_CXX_COMPILER=aarch64-linux-gnu-g++ \
            -DCMAKE_CXX_FLAGS="-w" \
            -DLLVM_TABLEGEN=/usr/lib/llvm-9/bin/llvm-tblgen \
            -DCLANG_TABLEGEN=/usr/lib/llvm-9/bin/llvm-tblgen \
            -DLLVM_ENABLE_BACKTRACES=OFF \
            -DLLVM_INCLUDE_TESTS=OFF \
            -DLLVM_INCLUDE_EXAMPLES=OFF \
            -DCMAKE_INSTALL_PREFIX=../clang9_arm64

      - name: Build and Install
        run: |
          cd build
          # Pakai -j2 agar lebih stabil di RAM GitHub yang cuma 7GB
          ninja -j2
          ninja install

      - name: Create Package
        run: |
          # Hapus file yang gak perlu biar ringan
          rm -rf clang9_arm64/lib/cmake
          tar -czvf clang9-arm64-android.tar.gz clang9_arm64

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: clang9-for-android-arm64
          path: clang9-arm64-android.tar.gz
